body {
  font-family: "Roboto";
  margin: 0;
  padding-right: 1vw;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

button {
  background-color: rgba(255, 255, 255, 0.3);
  color: #777;
  border-width: 0;
  cursor: pointer;
  float:right;
  font-size: 1em;
  margin-bottom: 0.5em;
}

button:hover {
  color: #bbb;
}

#overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:black;
  z-index:-1;
  float: left;
}

.fade {
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

.spinner {
  width: 10em;
  height: 10em;
  margin: auto;
  position: relative;
}

@keyframes ripple_pos {
  0% {
    transform: translate(4.5em, 4.5em);
    width: 10%;
    height: 10%;
    border-width: 0.5em;
  }

  50% {
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    border-width: 0.25em;
  }
}

@keyframes ripple_color {
  0% {
    border-color: rgba(255, 255, 255, 0.0);
  }

  20% {
    border-color: rgba(255, 255, 255, 0.8);
  }

  50% {
    border-color: rgba(255, 255, 255, 0.0);
  }
}

.circle1, .circle2, .circle3{
  position: absolute;
  box-sizing: border-box; /* display border inside div so that spacing comutations work out */
  border-style: solid;
  border-radius: 50%;
  border-color: rgba(255, 255, 255, 0.0);
  animation-name: ripple_pos, ripple_color;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.circle1 {
  animation-delay: 0s;
}

.circle2 {
  animation-delay: 0.2s;
}

.circle3 {
  animation-delay: 0.4s;
}


.footer {
  float: left;
  width: 100%;
}


a.no_underline {
  text-decoration: none;
}

.post_area {
  height: 94vh;
  width: 48%;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1vw;
  margin: 1%;
  float: right;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  text-decoration: none;
}

.post_area .section_header {
  flex: 0 1 auto;
}

.post_area .list_wrapper {
  flex: 1 1 auto;
}

.wide_area {
  max-height: 94vh;
  width: 46vw;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1vw;
  margin: 1vw;
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.wide_area .section_header {
  flex: 0 1 auto;
}

.wide_area .list_wrapper {
  flex: 1 1 auto;
}

.group {
  width: 46vw;
  padding: 0;
  margin: 1vw;
  float: left;
  box-sizing: border-box;
}

@media only screen and (max-width: 1060px) {
  .group {
    width: 94vw;
  }

  .wide_area {
    width: 94vw;
  }
}

@media only screen and (min-width: 1600px) {
  .group {
    width: 30vw;
  }

  .wide_area {
    width: 30vw;
  }
}

.section_header {
  font-family: 'Asul';
  padding: 0.5em 0em 0.5em 0em;
  margin-bottom: 0.2em;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  font-size: 2em;
  color: #FFF;
}

@media only screen and (max-width: 560px) {
  .section_header {
    font-size: 1.6em;
  }
}


.hackernews_header {
  background-color: #FF6600;
  border-top: 0.25em solid #FF8822;
}

.reddit_header {
  background-color: orangered;
  border-top: 0.25em solid #FF8540;
}

.nlab_header {
  background-color: #008B26;
  border-top: 0.25em solid #03bd36;
}

.notes_header {
  background-color: #9F509F;
  border-top: 0.25em solid #BD75BF;
}

.todo_header {
  background-color: #00BFFF;
  border-top: 0.25em solid #87CEFA;
}

.invisible {
  opacity: 0;
}

#note_list {
  font-family: 'Mate';
  line-height: 1.2;
  font-size: 1.1em;
  padding: 0;
  padding-bottom: 1em;
}

#note_list li {
  padding-bottom: 0.3em;
}

#todo_list {
  font-family: 'Mate';
  line-height: 1.2;
  font-size: 1.1em;
  padding: 0;
  padding-bottom: 1em;
}

.wide_area::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent; /* make scrollbar transparent */
}

.list_wrapper {
  max-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.list_wrapper::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent; /* make scrollbar transparent */
}

.post {
  background: #F4F4F4;
  margin-bottom: 1em;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  color: #111;
}

#nlab_posts {
  opacity: 0.0;
}

.nlab_post {
  border-top: 0.25em solid #008B26;
  max-height: 80vh;
  overflow-y: scroll;
  font-family: 'Mate';
  line-height: 1.2;
  font-size: 1.1em;
}

.nlab_post::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent; /* make scrollbar transparent */
}

/* any <a> descendant of a .nlab_post */
.nlab_post a {
  color: #005000;
}

.nlab_post a:hover {
  background-color: #008;
  color: #fff;
}

.hackernews_post {
  border-top: 0.25em solid #FF6600;
}

.reddit_post {
  border-top: 0.25em solid orangered;
}

.note_handle {
  background-color: #9F509F;
  height: 0.25em;
  width: 100%;
  cursor: move;
  cursor: -webkit-grabbing;
}

.todo_handle {
  background-color: #00BFFF;
  height: 0.25em;
  width: 100%;
  cursor: move;
  cursor: -webkit-grabbing;
}

@media only screen and (max-width: 1060px) {
  .note_handle {
    height: 0.5em;
  }

  .todo_handle {
    height: 0.5em;
  }
}

.note_content {
  margin: 1em;
}

.todo_content {
  margin: 1em;
}

/* https://paulund.co.uk/how-to-style-a-checkbox-with-css */
.todo_checkbox {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  float: left;
  position: relative;
}

.todo_checkbox label {
  cursor: pointer;
  position: absolute;
  width: 3em;
  height: 3em;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}

.todo_checkbox label:after {
    opacity: 0.0;
    content: '';
    position: absolute;
    width: 2em;
    height: 0.8em;
    background: transparent;
    top: 0.5em;
    left: 0.5em;
    border: 0.6em solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.todo_checkbox label:hover::after {
    opacity: 0.3;
}


.draggable_post {
  float: left;
  list-style-type: none;
  margin-right: 1em;
}

.title {
  padding: 1em 1em 0em 1em;
  color: #111;
}

.title:hover {
  color: #888;
}

.nlab_post_heading {
  padding: 1em 1em 0em 1em;
  color: #008B26;
}

.nlab_post_heading:hover {
  background-color: #D7D7D7;
}

.nlab_title {
  margin: 0;
}

.details, .post_body {
  padding: 0em 1.2em 1.2em 1.2em; /* 0.8 * 1.2 = 1 */
}

.details {
  font-size: 0.8em;
  color: #333;
  padding-top: 0.2em;
  padding-bottom: 0.5em;;
}

.details:hover {
  color: #888;
}

.post_body {

}

.inline-button {
  color: #555;
  font-size: 1em;
  cursor: pointer;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: right;
  float: left;
}

.inline-button:hover {
  color: #AAA;
}

.textbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 70vh;
  resize: none;

  font-family: 'Roboto';
  font-size: 1em;

  margin-bottom: 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.small-textbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Mate';
  line-height: 1.2;
  font-size: 1.1em;

  width: 100%;
  height: 2.8em;
  padding: 0.6em 1em;
  resize: none;
  margin-bottom: 0.4em;

  border: 0;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, .25);
}

.button_area {
  font-family: "Roboto";
  background: #F4F4F4;
  text-align: left;
  margin-top: -1vh;
  padding: 2vh;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  color: #111;
}

.quick-to-do {
  font-family: "Roboto";
  background: #F4F4F4;
  text-align: left;
  padding: 0.5em 0.75em 0em 0.75em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  color: #111;
  margin-bottom: 0.2em;
}
